
<body>

  <div class="hero">
    <div>
      <h1>Welcome to The Student Health Clinic</h1>
      <p>Your Health.</p>
      <p>Our concern.</p>
      <a href="/login" class="btn">Click Here to get started</a>
    </div>
  </div>
  <div class="content">
    <section>
      <h2>Our Services</h2>
      <ul>
        <li>Primary Care</li>
        <li>Mental Health Counseling</li>
        <li>Sexual Health Services</li>
      </ul>
    </section>
  </div>
  
  <footer>
    <p>&copy; {{ currentYear }} Student Health Clinic. All rights reserved.</p>
  </footer>

</body>
