<body><div class="container">
    <h2>Please Enter Your Relavent Details</h2>
    <form [formGroup]="registerForm" >
      <div class="form-group">
        <label for="firstName">Name :</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Surname :</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName" required>
      </div>
      <div class="form-group">
        <label for="username">Username :</label>
        <input type="text" class="form-control" id="username" formControlName="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password :</label>
        <input type="password" class="form-control" id="password" formControlName="password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password :</label>
        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" required>
      </div>
  
      <div class="form-group">
        <label for="age">Age :</label>
        <input type="number" class="form-control" id="age" formControlName="age" required>
      </div>
      <div class="form-group">
        <label for="gender">Sex :</label>
        <select class="form-control" id="gender" formControlName="gender" required>
          <option value="">Select sex</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" class="form-control" id="email" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="location">Location :</label>
        <input type="text" class="form-control" id="location" formControlName="location" required>
      </div>
      <button (click)="onRegister()">Register</button>
    </form>
  </div></body>